.slyme-header {
  padding: 10px 20px;
  background-color: black;
}

.slyme-header .logo-container > img {
  width: 150px;
}

.slyme-header .nav-menu-container {
  background-color: #282828;
  border-radius: 20px;
  padding: 1.5rem 0.5rem;
}

.slyme-header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.slyme-header .nav-menu > a {
  margin: 0 1rem;
}

.slyme-header .action-menu {
  display: flex;
  justify-content: flex-end;
}

.slyme-header .action-btn-1 {
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 50px 60px 1px 50px;
  text-align: center;
  font-weight: 500;

  /* -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  animation: buttonshine 2s;
  animation-iteration-count: infinite; */
}

.slyme-header-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .slyme-header-desktop {
    display: none;
  }

  .slyme-header-mobile {
    display: block;
    background-color: black;
    position: relative;
  }

  .slyme-header .logo-container > img {
    width: 80px;
  }

  .slyme-header .menu-container > img {
    width: 20px;
  }

  .slyme-header .mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: black;
    min-height: 100px;
    cursor: pointer;
  }

  .slyme-header .mobile-menu {
    padding: 1rem 1.4rem;
  }

  .slyme-header .mobile-menu nav a {
    display: block;
    color: white;
    margin: 10px 0;
  }
}

@keyframes buttonshine {
  0% {
    background-color: white;
  }

  50% {
    background-color: #5d3a92;
  }

  100% {
    background-color: white;
  }
}
