main {
  width: 100%;
  height: calc(100vh - 130px);
  margin-top: 10px;
}

.main-section {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.main-section-1 .section-left {
  width: 100%;
  height: calc(100% - 120px);
  background-color: white;
  border-radius: 10px 40% 10px 10px;
}

.main-section-1 .section-right {
  width: 100%;
  height: 100%;
  background-color: #ff6f92;
  border-radius: 40% 10px 10px 10px;
}

.main-section-1 .section-left-bottom {
  margin-top: 20px;
  height: 100px;
  background-color: #fcff70;
  border-radius: 10px;
}

.main-section-1 .section-left {
  padding: 4rem 2.5rem;
}

.main-section-1 .section-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.main-section-1 .section-left-bottom > h5 {
  margin: 0 !important;
}

.main-section-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .main-section-desktop {
    display: none;
  }

  .main-section-mobile {
    display: block;
  }

  .main-section {
    padding: 0 0.8rem;
  }

  .body-parent {
    background-color: white;
  }

  .main-section-1 .section-right {
    height: 0;
    min-height: 250px;
    border-radius: 10px 30% 10px 10px;
  }

  .main-section-1 .section-left {
    padding: 2rem 0.8rem;
  }
}
