main {
  width: 100%;
  height: calc(100vh - 130px);
  margin-top: 10px;
}

.main-section {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.main-section-1 .section-left {
  width: 100%;
  height: calc(100% - 120px);
  background-color: white;
  border-radius: 10px 40% 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .main-section-1 .section-left {
    justify-content: flex-start;
    height: fit-content;
  }

}

.main-section-1 .section-right {
  width: 100%;
  height: 100%;
  background-color: #ff6f92;
  border-radius: 40% 10px 10px 10px;
  position: relative;
  overflow: hidden;
}

.main-section-1 .section-right .skin{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  /* top: 0;
  left: 0; */
}

.main-section-1 .section-right .skin1{
  left: 26.6%;
  height: 334px;
  z-index: 100;
  /* top: 0;
  left: 0; */
}

.main-section-1 .section-right .skin2{
  left: 50%;
  z-index: 100;
  /* top: 0;
  left: 0; */
}
.main-section-1 .section-right .skin3{
  left: 73%;
  height: 334px;
  z-index: 100;
  /* top: 0;
  left: 0; */
}

@media screen and (max-width: 768px) {
  .main-section-1 .section-right .skin{
    height: 120px;
  }
  .main-section-1 .section-right .skin2{
    height: 160px;
  }
  .main-section-1 .section-right .skin3{
    height: 120px
  }
  .main-section-1 .section-right .skin1{
    height: 120px
  }
}

.main-section-1 .section-right .pr-card{
  position: absolute;
  width: 175px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-section-1 .section-right .pr-card-spotify{
  transform: rotate(-14deg);
  top: 13%;
  left: 8%;
}
.main-section-1 .section-right .pr-card-yt{
  bottom: 4%;
  right: 8%;
  transform: rotate(9deg);
}
.main-section-1 .section-right .pr-card-website{
  width: 226px;
  bottom: 7%;
  left: 34px;
  transform: rotate(-6deg);
}
.main-section-1 .section-right .pr-card-twitter{
  right: 9%;
  transform: rotate(9deg);
  top: 10%;
}

@media screen and (max-width: 768px) {
  .main-section-1 .section-right .pr-card{
    width: 80px;
  }
  .main-section-1 .section-right .pr-card-website{
    width: 80px;
  }
}

.main-section .section-right .many-more{
  position: absolute;
  bottom: 3%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, 0px);
  font-size: 23px;
  color: white;
}

@media screen and (max-width: 768px) {
  .main-section .section-right .many-more{
    font-size: 15px;
    bottom: 0%;
  }
}

.main-section-1 .section-left-bottom {
  margin-top: 20px;
  height: 100px;
  background-color: #fcff70;
  border-radius: 10px;
}

.main-section-1 .section-left {
  padding: 4rem 2.5rem;
}

.main-section-1 .section-left-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.main-section-1 .section-left-bottom > h5 {
  margin: 0 !important;
}

.main-section-mobile {
  display: none;
}

.username-label{
  font-weight: 600;
  cursor: pointer;
}

.subdomain-text{
  color: gray;
  font-size: 14px;
}

.neo-input{
  background: transparent;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  color: #686868;
  margin-right: 10px;
}

[contenteditable=true]:empty:before{
  content: attr(data-placeholder);
  pointer-events: none;
  display: inline; /* For Firefox */
}

@media screen and (max-width: 1200px) {
  .main-section-desktop {
    display: none;
  }

  .main-section-mobile {
    display: block;
  }

  .main-section {
    padding: 0 0.8rem;
  }

  .body-parent {
    background-color: white;
  }

  .main-section-1 .section-right {
    height: 0;
    min-height: 250px;
    border-radius: 10px 30% 10px 10px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .main-section-1 .section-left {
    padding: 2rem 0.8rem;
  }
  .neo-input{
    font-size: 15px;
  }

  .main-section-1 .section-left-bottom{
    padding: 1.5rem;
  }


}
