.neo-btn {
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 6px 6px black;
  text-transform: uppercase;
  padding: 10px;
  background-color: #ff6f92;
  color: white;
  font-weight: 600;
  transition: 200ms all ease-in;
}

.neo-btn:active {
  box-shadow: 3px 3px black;
  transform: translateY(4px);
}

.neo-btn-white {
  background-color: white;
  color: black;
}

.neo-input {
  border: none;
  min-height: 50px;
  min-width: 200px;
  outline: none;
}

@media screen and (max-width: 991px) {
  .neo-btn {
    padding: 6px;
    font-size: 0.9rem;
  }
}
